@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --body-font: "Montserrat", serif;
}

html {
  font-size: 10px; /* 1rem = 10px */
}
body {
  font-family: var(--body-font);
}
